@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'sofiapro-light';
    src: url('fonts/sofiapro_light_macroman/sofiapro-light-webfont.woff2') format('woff2'),
         url('fonts/sofiapro_light_macroman/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    font-family: "Open Sans",sans-serif;
}
body {
	background-color: white;
	font-family: "Open Sans", "Gill Sans MT", Helvetica, "Myriad Pro", "DejaVu Sans Condensed", "Gill Sans", Arial, "sans-serif"
}
h2 {
    color: #377CB5;
}
h3.blue {
	color:#377CB5;
	font-weight: 400;
	padding-top: 45px;
}
footer {
	background-color: #377CB5;
	border-top: 1px solid #377CB5;
	padding: 0px;
}
footer p {
	color: white;
	padding: 0px;
	font-size: 14px;
}
.container {
	background-color:  none;
}
.reset-container {
    width: 100%;
    max-width: 1170px;
    margin: auto
}
.cont-mob {
	display: block;
	position: relative;
	top:-15px;
}
.cont-top-fix {
	padding-top: 5px;
}
.fullContainer {
	width:100%;
}
.bannerFull {
	width:100%;
	height: 150px;
	position: relative;
	top:-30px;
	background:url(../img/house.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.bannerFullLanding {
	width:100%;
	height: 450px;
	background:url(../img/business.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:right bottom;
}
.bannerFullLanding2 {
    width: 100%;
    height: 450px;
    background: url(../img/budget.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}
.inputBox {
	border:1px solid black;
}
input:focus {
    border-color:#ff7041;
    outline: 0;
}
input::focus {
    border-color: #ff7041;
    outline: 0;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #377CB5;
    padding-left: 20px;
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;

}
input:focus::-webkit-input-placeholder {
    color:transparent;
    -webkit-transition: color 0.1s ease-in-out;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #377CB5;
    opacity: 1;
    padding-left: 20px;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}
input:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: color 0.1s ease-in-out;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #377CB5;
    opacity: 1;
    padding-left: 20px;
    -webkit-transition: opacity .1s;
     transition: opacity .1;
}
input:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: color 0.1s ease-in-out;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #377CB5;
    padding-left: 20px;
    opacity: 1;
    -webkit-transition: opacity .1s;
     transition: opacity .1;
}
input:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: color 0.1s ease-in-out;
}
.enter, .reset, .contactButton{
    background-color: #A0A0A0;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
	border-radius: 4px;
    display: inline-block;
    font-size: 15px;
}
.ad1Container {
	float: left;
}
.ad1 {
	width:300px;
	height: 600px;
	background-image: url(../img/300x600-ad.jpg);
	border: 1px black solid;
	background-repeat: no-repeat;
	margin: 10px auto;
	text-align: center;
	font-weight: 900;
}
.ad2 {
	width: 300px;
	height: 250px;
	background-image: url(../img/300x250-ad.png);
	border: 1px black solid;
	margin: 10px;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: 900;
}
.ad3 {
	width: 728px;
	height: 90px;
	background-image: url(../img/728x90-ad.jpg);
	border: 1px black solid;
	background-size: 100%;
	margin: 10px;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: 900;
}
/*Testing code pieces


.container {
	border: 0.5px blue solid;
	background-color: wheat;
}
* {
	border:0.5px solid red;
}


/*End of testing code pieces*/

nav {
	background-color:#377CB5;
}
.navBackground {
    background-color: #377CB5;
}
.mainNav {
	background-color:#377CB5;
}
.mainNav ul {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: #377CB5;
}
.mainNav ul li {
	list-style-type: none;
	text-align: center;
	display: inline-block;
	padding: 10px 1px;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
.mainNav ul li:hover {
	background-color: orangered;
	cursor: pointer;
}
.mainNav ul li a {
	display: inline;
	color: white;
	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none;
}



.mob-nav {
    margin: 5px 0;
	width: 35px;
    height: 5px;
    background-color: #333;
    transition: 0.4s;
}
.mobile-nav {
	position:relative;
	top: 5px;
	float: right;
	display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
	border-radius: 5px;
	transition: 0.4s;
}
.mob-nav-icon {
	float:right;
	margin: 10px 30px 0 0;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	-moz-transform: rotate(-45deg) translate(-9px, 6px) ;
	-ms-transform: rotate(-45deg) translate(-9px, 6px) ;
	-o-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	-moz-transform: rotate(45deg) translate(-8px, -8px) ;
	-ms-transform: rotate(45deg) translate(-8px, -8px) ;
	-o-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.mob-main-nav {
	
}
.mob-nav-content {
	display: none;
}




.logo {
	width: 50px;
	height: 50px;
	/*margin-left: 45px;*/
	margin: 5px 0 10px;
	vertical-align: middle;
}
.logo-name {
	padding: 15px 0 0px 10px;
	position: relative;
	left: 65px;
	letter-spacing: 5.5px;
	font-family: "sofiapro-light", sans-serif;
	text-transform: uppercase;
	font-weight:600;
	font-size: 14px;
	color: #ff7041;
}
.logo-name-sec {
	padding-left: 10px;
	letter-spacing: 6px;
	font-size: 18px;
	position: relative;
	left: 65px;
	font-family: "sofiapro-light", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	color:#377cb5;
}
.ulPosFix {
	height: 55px;
	text-align: right;
}
.searchIMG {
	width: 17px;	
	vertical-align: middle;
	cursor: pointer;
	
}
.searchBox {
	line-height: 18px;
	text-align: right;
	border: 0.1px solid grey;
	border-radius: 8px;
}
.clearRight {
	clear: right;
}
.btnReset {
    border: none;
    padding: 0;
	background-color:navy;
	border-radius: 6px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
}
.imgArticle {
	width: 94%;
	display: inline-block;
	/*height: 165px;*/
	padding: 0 0 0 10px;
	vertical-align:top;
}
.textArticle {
	
}
.heroText {
    position:relative;
    top:30px;
}
.heroText h2 {
    font-family:"Open Sans", sans-serif;
    font-size:36px; 

}
.orangeText {
    color:#ff7041;
}
.orangeLine {
    background-color:#ff7041;
    height:2px;
    width:80px;
    text-align:center;
    margin:30px auto;
}
.blueText {
    color:#377CB5;
    font-family: "Open-Sans",sofiapro-light,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:12px;
}
.aboutTextBox {
    text-align: center;
    background-color: hsla(0,0%,100%,0.90);
    border-radius:4px;
    position:relative;
    top:50px;
    height:60%;
    padding: 30px 45px;
}
.aboutTextBox p {
    font-family:"Open-Sans",sans-serif;
    font-size:17px;
    text-align:left;
    color:#6c6c6c;
}
.checkboxFix {
    position: relative;
    top: 8px;
    left: 15px

}
.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.centeredPCent {
	margin:0 auto;
}
.right-bor {
	border-right: 0.3px solid black;
}
.calcContent {
	margin-top:10px;
	padding-right:0px;
}
.calcContainer {
	margin-top:10px;
	float:left;
}
.padded {
	padding-left: -3px;
}

footer {
	border-top: 1px black solid; 
	padding: 20px 0;
}
footer p {
	padding-top:25px;
}
input {
    display:inline-block;
}
.fullWidthInput {
    width:99%;
    margin:0 auto;
}
.calcSelector {
    box-sizing:border-box;
    border-right:1px solid #377CB5;
    text-align:center;
	padding: 20px 0;
	-webkit-transition: background-color 0.3s ease-out;
  	-moz-transition: background-color 0.3s ease-out;
  	-o-transition: background-color 0.3s ease-out;
  	transition: background-color 0.3s ease-out;
}
.calcSelector > i {
	-webkit-transition: color 0.3s ease-out;
  	-moz-transition: color 0.3s ease-out;
  	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}
.calcSelector > p {
	-webkit-transition: color 0.3s ease-out;
  	-moz-transition: color 0.3s ease-out;
  	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}
.calcSelector:hover {
	background-color: #377CB5;
	color: white;
}
.calcSelector:hover > i {
	color:white;
}
.calcSelector:hover > p {
	color:white;
}
.calcSelector i {
	padding-bottom: 10px;
	color: #636362;
}
.selectorTextLine1 {
	font-family: "Open Sans","sofiapro-light","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	font-weight: bold;
	color: #373737;
}
.selectorTextLine2 {
	font-family: "Open Sans","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	color: #373737;
}


.calcInput {
    border: 1px solid #CCCCCC;
    padding: 7px 10px 7px 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #3d393b;
    margin: 15px;
    vertical-align: middle

}
.subInput {
	border:1px solid #CCCCCC;
	display: inline;
	padding:7px 10px;
	border-radius:4px;
	font-size:14px;
	font-weight:400;
	color:#3d393b;
	vertical-align: middle;
	margin-bottom: 10px;
}
.subContent {
	margin-bottom:35px;
}
.calcInputCCol {
	border:1px solid #CCCCCC;
	display: block;
	float: left;
	padding:7px 10px 7px;
	border-radius: 0;
	margin-bottom: 35px;
	font-size:14px;
	font-weight:400;
	color:#3d393b;
	vertical-align: middle;
}
.dateInput::-webkit-inner-spin-button, .dateInput::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}
.dateInput {
	border:1px solid #CCCCCC;
	display: block;
	float: left;
	padding: 3px 10px 6px;
	border-radius: 0 4px 4px 0;
	font-size:14px;
	font-weight:400;
	color:#3d393b;
	vertical-align: middle;
	
}
.calcDropdown {
	-webkit-appearance: initial; 
	-moz-appearance: initial;
	-ms-appearance:initial;
	-o-appearance: initial; 
	border:1px solid #CCCCCC;
	border-radius: 0 4px 4px 0;
	float: left;
	padding: 6.5px 1px 7px 10px;
	display: block;
	font-size:14px;
	font-weight:400;
	color:white;
	overflow: hidden;
   	background: url(img/arrow.png) no-repeat right #377cb5;
}
.dropdownStyle {
	position: relative;
}
.dropdownStyle:after {
	content: '▼';
	color: #373737;
    right:16px; top:8px;
    padding:0 0 2px;
    position:absolute;
	cursor: pointer;
    pointer-events:none;
	
}
.dropdownStyle:before {
    content:'';
    position:absolute;
    display:block;
	cursor: pointer;
}
.buttonInput {
    border: 1px solid #ff7041;
    border-radius: 4px;
    display:inline;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    margin:15px;
    color: white;
    vertical-align: middle;
}
.buttonInputHidden {
    visibility:hidden;
    display:inline;
    border: 1px solid #ff7041;
    border-radius: 4px;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    margin: 15px;
    color: white;
    vertical-align: middle

}
.buttonInput span {
    color:#ff7041;
}
.buttonInputReset {
	background:hsla(207,53%,46%,0.75); 
}
.calcLabel {
	background:#377cb5;
	border:1px solid #377cb5;
	border-radius: 4px 0 0 4px;
	float: left;
	padding:8px 10px 7px 16px;
	font-size:14px;
	font-weight:400;
	display: block;
	color:white;
	vertical-align: middle;
}
.borderCalc {
    border-radius: 4px;
    background-color:white;
	padding: 10px;
    position:relative;
    top:40px;
}
.calcContent {
    background:rgba(240,240,240,1.00);
}

.calcContent h2 {
    color: #68748e;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 15px;
}
.titleText {
	padding-top: 67px;
	color: white;
	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 5px;
	font-weight:900;
}
.inline-fix {
	display: inline-block;
}
.active {
    background-color: #4CAF50;
    color: white;
}
#navToggle {
	display:inline-block;
	visibility: visible;
	transition: opacity 0.5s ease-in-out;
}
.lang-BTN {
	padding-right: 20px;
	width: 70px;
	height: 25px;
}
.lang-img {
	width:20px;
	height: 20px;
}
.span-link {
	display: inline !important;
	padding:  10px;
	margin: 20px 20px;
}
.fieldWidth {
	width: 100%;
	margin: 10px 0;
}
.labelWidth {
	width:50%;
}
.articleHead {
	color:#ff7041;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.articleText {
	padding: 0 15px;
}
.articleImg {
	width: 250px;
	padding-top:10px;
	padding-bottom: 20px;
}
.subHeadText {
	color: #6c6c6c;
	font-weight: 400;
}
.articleDiv p {
	font-size: 16px;
	color: #6c6c6c;
	font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: lighter;
	
}
.articleDiv {
	padding: 0 20px 20px 0px;
	margin: 10px;
}
.articleButton {
	border-radius: 2px;
	background-color: #ff7041;
	padding: 10px 15px;
	color:white;
	font-size: 14px;
	margin-top:10px;
	font-weight: bold;
}


/*Fixing an issue on desktop with alignment and columbs*/
/*Small Desktop Format*/
@media (min-width:1024px) and (max-width:1080px)
{

}
/* Media Queries */
/*Tablets*/
@media (max-width:1024px)
{

}

/*Mobile */
@media (max-width:640px)
{

}